.container {
  background-image: url('../img/img-study5.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.container__children {
  min-height: 100vh;
  display: grid;
  place-content: center;
  max-width: 120rem;
}

.container__formulario {
  background-color: rgba(249, 247, 247, 0.538);
  border-radius: 8px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 500px;
  padding-top: 28px;
  padding-bottom: 25px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  gap: 30px;
  padding-bottom: 20px;

}

.form__campo {
  background-color: #fff;
  border-radius: 9px;
  display: flex;
  align-items: center;
  padding: 20px 10px;
  flex: 1;

}

.form__input-text {
  border: none;
  outline: none;
  font-size: 17px;
  flex: 1;
}

@media (max-width:760px) {
  .form {
    display: flex;
    flex-direction: column;
    width: 260px;
  
  
  }
  .container__formulario{
    width:360px ;
  }

}