<!DOCTYPE html>
 <html lang="en">
 
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
   <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
   <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
 
   <title >Iniciar Sesion</title>
 </head>
 
 <body>
   <main class="main">
     <div class="login">
       <div class="login__info">
         <h2 class="header__title text-center">company logo</h2>
         <div class="login__contenido">
           <p class="text-big text-capitalize text-center llogin__text">welcome to...</p>
           <p class="text-justify login__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
             velit sequi commodi sit eos aliquid! Quam
             ea
             animi eligendi accusamus cupiditate, quidem voluptas dignissimos fugit adipisci nisi recusandae. Suscipit,
             totam.
           </p>
         </div>
       </div><!-- hasta acá llega el contendio de información -->
 
       <div class="formulario">
         <form class="form" method="POST" action="{{ url_for('login') }}">
           <h2 class="header__title text-center form__title">iniciar sesion <i class='bx bxs-user bx-md'></i></h2>
           <div class="form__contenedor">
             <input type="text" name="username" placeholder="username" class="form__input" required>
           </div>
           <div class="form__contenedor">
             <input type="password" name="password"  placeholder="password" class="form__input" required>
           </div>
           {% with messages = get_flashed_messages()%}
            {% if messages %}
            {% for messages in messages %}
            <span class="alert">{{messages}}</span>
            {% endfor %}
            {% endif %}
            {%endwith%}
           <button type="submit" class="button text-uppercase">Iniciar Sesión</button>
         </form>
         <div class="aviso-regsitro">
           <div>
             <span>¿Aún no tienes cuenta?</span>
             <a href="/register"class="link text-capitalize">registrar</a>
           </div>
         </div>
 
       </div><!-- hast aqui llega el formulario -->
 
     </div>
 
   </main>
 </body>
 
 </html>